.home {
    background-color: hwb(280 62% 13%);
    margin-bottom: 4rem;
    padding: 8rem 3rem 4rem 3rem;
    width: 100%;
    height: 50vh;
}

.home h2 {
    font-size: 3rem;
}

.home .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
}