
.home{
    display: flex;
    width:100%;
    height: 90vh;
    flex-wrap: wrap;
    justify-content: center;
}
.header{
    padding-top: 5%;
    padding-left: 1em;
    padding-right: .5em;
    flex: 1 0 60%;
}
.title{
    
}
.title h1{
    font-size: 6.5rem;
    /*text-shadow: .3rem .3rem #502274;*/
}
.title-gradient{
        background-image: linear-gradient(45deg, #ead051,#f1bba7, #dd8cef);
        -webkit-text-stroke-width: .05em;
        -webkit-text-stroke-color: beige;
        background-size: 100% 100%;
        animation: title-gradient 15s ease infinite;
        background-clip: text;
        font-style: oblique;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(.04em .04em rgb(181, 181, 168));
}

@keyframes title-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.sub-title{
    display: flex;
    padding-bottom: 1em;
    font-style: italic;
}
.sub-title h4{
    margin-right: 1em;
}



.selection{
    width: 40%;
    height: 100%;
    display: flex;
    align-self: baseline;
    text-align: center;
    padding-right: 1em;
}

.change{
    flex: 1 1 40%;
    min-width: 40%;
    border-left: 1em;
    height: 100%;
}

.change h2{
    font-size: 3em;
    font-style: normal;
}

.categories{
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.categories ul{
    margin-left: 2em;
}

.categories-resume{

}
.categories-resume h3{
font-style: italic;
margin-top: .5em;
margin-bottom: .5em;
text-decoration: underline;
}
.change li{
    list-style-type: none;
}
.links{
    display: flex;
}