nav {
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	padding: .5em 0;
	color: white;
	background-color: black;
	max-height: 4em;
  	text-align: right;
	padding-right: 2.5em;
}

nav span {
	font-size: 1em;
	border-bottom: 0.10em solid transparent;
	transition: border-bottom 0.2s ease;
	transition-delay: 0.25s;
	margin: 1em;
	padding-bottom: 0.3em;
}

nav span:hover {
	cursor: pointer;
	border-bottom: 1px solid white;
}

nav span:hover i {
	color: gold;
}

nav span.activeClass i {
	color: gold;
}

nav span.activeClass {
	border-bottom-color: white;
}
